@import "reset";
@import "mixins";
@import "animations";

html, body {
  background: #D0E2E9;
  font-size: 100%;
  min-width: 320px;
  overflow: hidden;
}

body {
  position: relative;
  font-family: 'Ubuntu', serif;
	background: #E9F5FA;
}

ul {
  position: fixed;
  left: 2%;
  top: 50%;
  height: 10%;
  width: 15px;
  margin-top: -5%;
  li {
    position: relative;
    display: block;
    margin: 15px 0;
    span {
      .border-radius(100%);
      cursor: pointer;
      display: block;
      background: #FFF;
      width: 15px;
      height: 15px;
      &.selected { background: #0679b2; }
    }
    p {
      color: #FFF;
      position: absolute;
      width: 0px;
      overflow: hidden;
      left: 20px;
      .transition(width .25s linear 1s);
      &.selected { 
        color: #0679b2;
        width: 100px; 
      }
    }
    &:hover p {
      width: 100px;
    }
  }
}

hr {
  .box-shadow(none);
  border: none;
  margin: 5% 0;
}

section {
  display: block;
  clear: both;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &#presentation { background: #D0E2E9; }
  &#abilities { background: #9de2ce; }
  &#creation { background: #ec6f66; }
  &#contact { background: #E2E2E2; }
  &#hobbies { background: #333; }

  .scrollTo {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    width: 100%;
    padding: 1% 0;
    display: block;
    text-align: center;
    color: #999;
    &:hover {
      background: rgba(0,0,0,.05);
      color: #FFF;
    }
  }
  .top { bottom: auto; top: 0; }
}

#presentation {
  .container {
    position: absolute;
    top: 50%;
    margin: -100px 0 0;
    text-align: center;
    height: 200px;
    width: 80%;
    padding: 0 10%;

    figure {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 20%;
      margin: 0 5%;
      visibility: hidden;

      img {
        .border-radius(100%);
        .opacity(90);
      }
    }

    header {
      font-family: 'Ubuntu', sans-serif;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      .opacity(0);
      width: 45%;
      .transition(all 1.25s linear);

      &.show {
        .opacity(100);
      }

      h1, h2 {
        letter-spacing: 0.05em;
        color: #666;
        line-height: 1.75em;
        font-size: 2em;
      }

      h2 { text-align: right; }

      h1 {
        font-size: 3em;
      }
    }
  }
}

#contact {
  .container {
    position: absolute;
    top: 50%;
    margin: -200px 0 0;
    text-align: center;
    height: 400px;
    width: 80%;
    padding: 0 10%;

    span {
      padding: 2% 5%;
      color: #333;
      font-size: 1.5em;
    }

    a {
      background: url(/img/social_sprite.png) no-repeat;
      background-size: 400px;
      position: relative;
      .border-radius(100%);
      .transition(opacity 0.5s ease-in-out);
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      height: 100px;
      margin: 0 2% 0 4%;
      z-index: 2;

      &:last-child { margin-right: 0}
      &:first-child { margin-left: 0}
      &:after {
        .border-radius(100%);
        .transition(opacity 0.5s ease-in-out);
        content: "";
        background: url(/img/social_sprite.png) no-repeat;
        background-size: 400px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .opacity(0);
      }

      &.gmail { 
        background-position: 0 0;
        &:hover {
          &:after {
            background-position: 0 -100px; 
            .opacity(100);
          }
        }
      }

      &.skype { 
        background-position: -100px 0;
        &:after {
          background-position: -100px -100px; 
        }
        &:hover {
          &:after {
            background-position: -100px -100px; 
            .opacity(100);
          }
        }
      }

      &.linkedin {
        background-position: -200px 0;
        &:after {
          background-position: -200px -100px; 
        }
        &:hover {
          &:after {
            background-position: -200px -100px; 
            .opacity(100);
          }
        }
      }
      &.behance {
        background-position: -300px 0;
        &:after {
          background-position: -300px -100px; 
        }
        &:hover {
          &:after {
            background-position: -300px -100px; 
            .opacity(100);
          }
        }
      }
    }
  }
}


#abilities {
  .container {
    position: absolute;
    top: 50%;
    margin: -200px 0 0;
    text-align: center;
    height: 400px;
    width: 80%;
    padding: 0 10%;

    .bar {
      position: relative;
      .border-radius(10px 10px 0 0);
      .transition(all .5s ease-in-out);
      .opacity(0);
      display: inline-block;
      vertical-align: bottom;
      background: #705b90;
      width: 10%;
      margin-right: 5%;

      &.one { height: 60%; }
      &.two { height: 75%; }
      &.three { height: 40%; }
      &.four { height: 100%; }

      &.pullUp { .opacity(100); }
    }

    span {
      font-family: 'Ubuntu', sans-serif;
      color: #705b90;
      width: 100%;
      margin-right: 5%;
      text-align: center;
      font-size: 1.5em;
      position: absolute;
      bottom: -40px;
      left: 0;
    }
  }
}


#creation {
  .container {
    position: absolute;
    top: 50%;
    margin: -75px 0 0;
    text-align: center;
    height: 150px;
    width: 80%;
    padding: 0 10%;

    figure {
      position: relative;
      .border-radius(100%);
      .transition(all 0.5s ease-in-out);
      .opacity(0);
      display: inline-block;
      vertical-align: middle;
      width: 14%;
      height: 100%;
      margin: 0 2% 0 4%;
      background: #FFF;

      &:last-child { margin-right: 0}
      &:first-child { margin-left: 0}
      &.show { .opacity(100) }

      &.one { 
        background: #fff url(/img/creation.png) center center no-repeat;
        background-size: 120px;
        .transition(all 0.25s ease-in-out) }
      &.two { 
        background: #fff url(/img/sketch.png) center center no-repeat;
        background-size: 120px;
        .transition(all 0.5s ease-in-out .5s) 
      }
      &.three {
        background: #fff url(/img/code.png) center center no-repeat;
        background-size: 120px; 
        .transition(all 0.75s ease-in-out 1s) 
      }
    }

    p {
      font-family: 'Ubuntu', sans-serif;
      color: #FFF;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
      position: absolute;
      bottom: -40px;
      left: 0;
    }

    .arrow_right {
      .transition(all 0.25s ease);
      .opacity(0);
      position: relative;
      background: #FFF;
      display: inline-block;
      vertical-align: middle;
      width: 10%;
      height: 15%;

      &:last-child { margin-right: 0}

      &:after {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #FFF;
        border-width: 30px;
        top: 50%;
        margin-top: -30px;
      }

      &.stretchRight {
        .opacity(100);
        &.one { .transition(all 0.25s ease-in-out .25s) }
        &.two { .transition(all 0.5s ease-in-out .75s) }
      }
    }
  }
}

#hobbies {
  .container {
    position: absolute;
    top: 50%;
    margin: -175px 0 0;
    text-align: center;
    height: 350px;
    width: 60%;
    padding: 0 20%;

    header {
      font-family: 'Ubuntu', sans-serif;
      .opacity(0);
      width: 70%;
      margin: 0 auto;
      .transition(all 1.25s linear);

      &.show { .opacity(100); }

      h1, h2 {
        letter-spacing: 0.05em;
        color: #FFF;
        line-height: 1.75em;
        font-size: 2em;
        opacity: 0;
        .transition(all 1.25s linear .5s);
      }

      h2 { text-align: left; }

      h1 {
        font-size: 3em;
        text-align: right;
        .transition(all 1.25s linear 2.25s);
      }

      &.show h1, 
      &.show h2,
      &.show .eyes { .opacity(100) }
    }

    .eyes {
      background: url(/img/eyes.png) no-repeat;
      background-size: 300px;
      width: 300px;
      height: 80px;
      margin: 15% auto;
      .opacity(0);
      .transition(all 0.5s ease-in-out 2s)
    }
  }
}



















.hanging_lamp {
  background: url("/img/light.png") left top no-repeat;
  background-size: 400px;
  position: absolute;
  width: 200px;
  height: 345px;
  top: 0;
  left: 50%;
  margin-left: -200px;
  z-index: 2;

  -webkit-animation: light 0.15s steps(2, end) infinite;
  -moz-animation: light 0.15s steps(2, end) infinite;
  -ms-animation: light 0.15s steps(2, end) infinite;
  -o-animation: light 0.15s steps(2, end) infinite;
  animation: light 0.15s steps(2, end) infinite;
}

.character {
  background: url("/img/character.png") left top no-repeat;
  background-size: 2240px;
  position: absolute;
  width: 374px;
  height: 663px;
  bottom: 20px;
  left: 50%;
  z-index: 2;
}

.desk {
  background: url("/img/desk.png") right top no-repeat;
  background-size: 600px;
  width: 600px;
  height: 355px;
  z-index: 2;
  position: absolute;
  text-indent: -9999px;
  bottom: 105px;
  right: 600px;
}

.chair {
  background: url("/img/chair.png") right top no-repeat;
  background-size: 400px;
  width: 400px;
  height: 580px;
  z-index: 2;
  position: absolute;
  text-indent: -9999px;
  bottom: 60px;
  right: 810px;
}

.computer {
  background: url("/img/computer.png") right top no-repeat;
  background-size: 250px;
  width: 250px;
  height: 280px;
  z-index: 2;
  position: absolute;
  text-indent: -9999px;
  bottom: 360px;
  right: 810px;
}

.stand {
  background: url("/img/stand.png") right top no-repeat;
  background-size: 900px;
  width: 900px;
  height: 250px;
  z-index: 2;
  position: absolute;
  margin: 0px auto;
  text-indent: -9999px;
  top: 700px;
  left: 530px;
}

@-webkit-keyframes logo {
  from { background-position: left top; }
  to { background-position: 208.35% top; }
}
@-moz-keyframes logo {
  from { background-position: left top; }
  to { background-position: 208.35% top; }
}
@-ms-keyframes logo {
  from { background-position: left top; }
  to { background-position: 208.35% top; }
}
@-o-keyframes logo {
  from { background-position: left top; }
  to { background-position: 208.35% top; }
}
@keyframes logo {
  from { background-position: left top; }
  to { background-position: 104.2% top; }
}


@-webkit-keyframes light {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@-moz-keyframes light {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@-ms-keyframes light {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@-o-keyframes light {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@keyframes light {
  from { background-position: 0px; }
  to { background-position: -400px; }
}

@-webkit-keyframes front {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@-moz-keyframes front {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@-ms-keyframes front {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@-o-keyframes front {
  from { background-position: 0px; }
  to { background-position: -50px; }
}
@keyframes front {
  from { background-position: 0px; }
  to { background-position: -3240px; }
}
