@media 

  only screen and (max-width: 640px),
  only screen and (max-device-width: 480px),
  only screen and (max-device-width: 640px),
  only screen and (max-device-width: 1024px) {

// LAYOUT
// ------------------------------------------------------------------------

  body {
    font-size: 100%;
  }

  ul {
    left: 1em;
    top: 50%;
    height: 100%;
    width: auto;
    margin-top: -25%;

    li {
      margin: 1.5em 0;

      span {
        .border-radius(100%);
        cursor: pointer;
        display: block;
        background: #FFF;
        width: 1.5em;
        height: 1.5em;
        &.selected { background: #0679b2; }
      }

      p { display: none; }
    }
  }

  section {
    display: block;
    clear: both;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    .transition(all 0.35s linear);

    &.current { 
      top: 0;
      z-index: 1;
    }

    .scrollUp,
    .scrollDown,
    .scrollTo {
      font-size: 2em;
      padding: 1em 0;
      color: #999;
      font-weight: bold;
      &:hover {
        background: rgba(0,0,0,.05);
        color: #FFF;
      }
    }
    .scrollUp { bottom: auto; top: 0; }
  }

  #presentation {

    .container {
      right: 0;
      top: 0;
      margin: 0;
      height: 60%;
      width: 80%;
      padding: 20% 10%;

      figure {
        display: block;
        text-align: center;
        height: 45%;
        width: 45%;
        margin: 14% auto 10%;
      }

      header {
        display: block;
        text-align: center;
        width: 100%;

        h1, h2 {
          letter-spacing: 0.05em;
          line-height: 1.5em;
          font-size: 2em;
        }

        h1 { font-size: 2.5em; }
      }
    }
  }

  #connect {

    .container {
      right: 0;
      top: 0;
      margin: 0;
      height: 60%;
      width: 50%;
      padding: 20% 25%;

      a {
        margin: 5% !important;

        &.gmail    { margin-left: 10% !important; }
        &.facebook { margin-left: -10% !important; }
        &.skype    { margin-left: 10% !important; }
        &.behance  { margin-left: -10% !important; } 
      }
    }
  }

  #workflow {

    .container {
      right: 0;
      top: 0;
      margin: 0;
      height: 60%;
      width: 70%;
      padding: 20% 15%;

      figure {
        width: 150px;
        height: 150px;
        margin: 0 0 0 10%;
        background: #FFF;

        &:last-child { margin: 30% auto 0; }
        &:first-child { margin-right: 5%; }
      }

      p {
        font-size: 1.5em;
        bottom: -40px;
        left: 0;
      }

      .arrow_right {
        width: 50px;
        height: 30px;

        &:last-of-type {
          position: absolute;
          .rotate(120deg);
          top: 48%;
          right: 25%;
        }
      }
    }
  }

  #skills {
    .container {
      right: 0;
      top: 0;
      margin: 0;
      height: 60%;
      width: 84%;
      padding: 20% 8%;

      .bar {
        width: 20%;
        margin-right: 3%;
      }

      span {
        color: #705b90;
        width: 100%;
        margin-right: 5%;
        text-align: center;
        font-size: 1.5em;
        position: absolute;
        bottom: -40px;
        left: 0;
      }
    }
  }

  #hobbies {
    .container {
      right: 0;
      top: 0;
      margin: 0;
      height: 60%;
      width: 80%;
      padding: 20% 10%;

      header {
        width: 100%;
        margin: 10% auto;

        h1, h2 {
          letter-spacing: 0.05em;
          line-height: 1.5em;
          font-size: 2.5em;
          text-align: center
        }

        h1 { font-size: 3em; }
      }

      .eyes {
        background-size: 2400px;
        width: 300px;
        height: 80px;
        margin: 15% auto;
      }
    }
  }

}
